@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --light-grey: #f1f2f3;
  --medium-grey: #fad2ff;
  --light-dark-grey: #510b66;
  --crimson: #722880;
  --light-olive: #a733b0;
  --dark-green: #6b2f6a;
}
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--medium-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
